<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/home.css">
  <link rel="icon" href="../assets/yakult-cat-icon.png" type="image/x-icon">
  <title>komorebi | home!</title>
</head>

<body>
  <nav>
    <div class="logo">
      <a href="./home.html" class="logo-link">
        <img src="../assets/pixel-myaokult.gif" alt="logo: yakult cat">
        <h1>komorebi</h1>
      </a>
    </div>
    <ul class="nav-links">
      <li><a href="./home.html">home</a></li>
      <li><a href="./sitemap.html">sitemap</a></li>
      <li><a href="./about.html">about me</a></li>
      <li><a href="./blogs.html">blogs</a></li>
      <li><a href="./stories.html">short stories</a></li>
      <li><a href="./projects.html">projects</a></li>
      <!-- <li><a href="./streaming.html">streaming</a></li> -->
    </ul>
  </nav>

  <div class="page-content">
    <main class="main-content">
    </main>

    <section class="sun-prints">
    </section>
  </div>

  <footer>
    <p><a href="./home.html">komorebi</a> © <a href="./about.html">myaokult</a></p>
    <p>2026 - forever!</p>
  </footer>

</body>
</html>
