<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/styles.css">
  <link rel="stylesheet" href="styles/not_found.css">
  <title>komorebi | page not found!</title>
</head>

<body>
  <section class="not-found">
    <h1>404</h1>
    <h4>page not found</h4>
    <p>oh no! how did you get here?</p>
    <p>let's get you back home!</p>
    <a href="./home.html" class="home-link"><img src="assets/pixel-home.gif" alt="gif to go home"></a>
  </section>
</body>

</html>