<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/welcome.css">
  <link rel="icon" href="../assets/yakult-cat-icon.png" type="image/x-icon">
  <title>komorebi</title>
</head>

<body>
  <section class="switch-lite">
    <img src="../assets/switch-lite.png" alt="container: animal crossing switch lite">
    <div class="title">
      <p>welcome to</p>
      <h1>komorebi!</h1>
    </div>
    <p>press Ⓐ to continue</p>
    <a href="./home.html" class="hidden-link" data-title="come see my home page!"></a>
  </section>

  <footer>
    <p>komorebi © myaokult</p>
    <p>2026 - forever!</p>
  </footer>

</body>
</html>
